<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30047561-5"></script>
		<script>
		 window.dataLayer = window.dataLayer || [];
  	  	function gtag(){dataLayer.push(arguments);}
  	  	gtag('js', new Date());

	  	gtag('config', 'UA-30047561-5');
         	</script>
                {{ template "_internal/google_analytics.html" . }}
		{{ partial "head.html" . }}
	</head>
	<body>


		{{ partial "header.html"  . }} 
		{{ partial "about.html"   . }}
		{{ partial "work.html"    . }}
		{{ partial "clients.html" . }}
		{{ partial "contact.html" . }}
		{{ partial "form.html"    . }}
		{{ partial "footer.html"  . }}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="{{ .Site.BaseURL }}js/functions.js"></script>
	</body>
</html>
